{% include 'shead.html'%}
<br><br><br>
<!--<style>-->
<!--    *, *:before, *:after {-->
<!--	 box-sizing: border-box;-->
<!--}-->
<!-- html {-->
<!--	 font-size: 16px;-->
<!--}-->
<!-- .plane {-->
<!--	 margin: 10px auto;-->
<!--	 max-width: 400px;-->
<!--}-->
<!-- .cockpit {-->
<!--	 height: 50px;-->
<!--	 position: relative;-->
<!--	 overflow: hidden;-->
<!--	 text-align: center;-->
<!--	 border-bottom: 5px solid #d8d8d8;-->
<!--}-->
<!-- .cockpit:before {-->
<!--	 content: "";-->
<!--	 display: block;-->
<!--	 position: absolute;-->
<!--	 top: 0;-->
<!--	 left: 0;-->
<!--	 height: 500px;-->
<!--	 width: 100%;-->
<!--	 border-radius: 50%;-->
<!--	 border-right: 5px solid #d8d8d8;-->
<!--	 border-left: 5px solid #d8d8d8;-->
<!--}-->
<!-- .cockpit h1 {-->
<!--	 width: 60%;-->
<!--	 margin: 100px auto 35px auto;-->
<!--}-->
<!-- .exit {-->
<!--	 position: relative;-->
<!--	 height: 50px;-->
<!--}-->
<!-- .exit:before, .exit:after {-->
<!--	 content: "EXIT";-->
<!--	 font-size: 14px;-->
<!--	 line-height: 18px;-->
<!--	 padding: 0px 2px;-->
<!--	 font-family: "Arial Narrow", Arial, sans-serif;-->
<!--	 display: block;-->
<!--	 position: absolute;-->
<!--	 background: green;-->
<!--	 color: white;-->
<!--	 top: 50%;-->
<!--	 transform: translate(0, -50%);-->
<!--}-->
<!-- .exit:before {-->
<!--	 left: 0;-->
<!--}-->
<!-- .exit:after {-->
<!--	 right: 0;-->
<!--}-->
<!-- .fuselage {-->
<!--	 border-right: 5px solid #d8d8d8;-->
<!--	 border-left: 5px solid #d8d8d8;-->
<!--}-->
<!-- ol {-->
<!--	 list-style: none;-->
<!--	 padding: 0;-->
<!--	 margin: 0;-->
<!--}-->
<!-- .seats {-->
<!--	 display: flex;-->
<!--	 flex-direction: row;-->
<!--	 flex-wrap: nowrap;-->
<!--	 justify-content: flex-start;-->
<!--}-->
<!-- .seat {-->
<!--	 display: flex;-->
<!--	 flex: 0 0 14.2857142857%;-->
<!--	 padding: 5px;-->
<!--	 position: relative;-->
<!--}-->
<!-- .seat:nth-child(3) {-->
<!--	 margin-right: 14.2857142857%;-->
<!--}-->
<!-- .seat input[type=checkbox] {-->
<!--	 position: absolute;-->
<!--	 opacity: 0;-->
<!--}-->
<!-- .seat input[type=checkbox]:checked + label {-->
<!--	 background: #bada55;-->
<!--	 -webkit-animation-name: rubberBand;-->
<!--	 animation-name: rubberBand;-->
<!--	 animation-duration: 300ms;-->
<!--	 animation-fill-mode: both;-->
<!--}-->
<!-- .seat input[type=checkbox]:disabled + label {-->
<!--	 background: #ddd;-->
<!--	 text-indent: -9999px;-->
<!--	 overflow: hidden;-->
<!--}-->
<!-- .seat input[type=checkbox]:disabled + label:after {-->
<!--	 content: "X";-->
<!--	 text-indent: 0;-->
<!--	 position: absolute;-->
<!--	 top: 4px;-->
<!--	 left: 50%;-->
<!--&lt;!&ndash;	 transform: translate(-50%, 0%);&ndash;&gt;-->
<!--}-->
<!-- .seat input[type=checkbox]:disabled + label:hover {-->
<!--	 box-shadow: none;-->
<!--	 cursor: not-allowed;-->
<!--}-->
<!-- .seat label {-->
<!--	 display: block;-->
<!--	 position: relative;-->
<!--	 width: 100%;-->
<!--	 text-align: center;-->
<!--	 font-size: 14px;-->
<!--	 font-weight: bold;-->
<!--	 line-height: 1.5rem;-->
<!--	 padding: 4px 0;-->
<!--	 background: #f42536;-->
<!--	 border-radius: 5px;-->
<!--	 animation-duration: 300ms;-->
<!--	 animation-fill-mode: both;-->
<!--}-->
<!-- .seat label:before {-->
<!--	 content: "";-->
<!--	 position: absolute;-->
<!--	 width: 75%;-->
<!--	 height: 75%;-->
<!--	 top: 1px;-->
<!--	 left: 50%;-->
<!--	 transform: translate(-50%, 0%);-->
<!--	 background: rgba(255, 255, 255, .4);-->
<!--	 border-radius: 3px;-->
<!--}-->
<!-- .seat label:hover {-->
<!--	 cursor: pointer;-->
<!--	 box-shadow: 0 0 0px 2px ;-->
<!--}-->
<!-- @-webkit-keyframes rubberBand {-->
<!--	 0% {-->
<!--		 -webkit-transform: scale3d(1, 1, 1);-->
<!--		 transform: scale3d(1, 1, 1);-->
<!--	}-->
<!--	 30% {-->
<!--		 -webkit-transform: scale3d(1.25, 0.75, 1);-->
<!--		 transform: scale3d(1.25, 0.75, 1);-->
<!--	}-->
<!--	 40% {-->
<!--		 -webkit-transform: scale3d(0.75, 1.25, 1);-->
<!--		 transform: scale3d(0.75, 1.25, 1);-->
<!--	}-->
<!--	 50% {-->
<!--		 -webkit-transform: scale3d(1.15, 0.85, 1);-->
<!--		 transform: scale3d(1.15, 0.85, 1);-->
<!--	}-->
<!--	 65% {-->
<!--		 -webkit-transform: scale3d(0.95, 1.05, 1);-->
<!--		 transform: scale3d(0.95, 1.05, 1);-->
<!--	}-->
<!--	 75% {-->
<!--		 -webkit-transform: scale3d(1.05, 0.95, 1);-->
<!--		 transform: scale3d(1.05, 0.95, 1);-->
<!--	}-->
<!--	 100% {-->
<!--		 -webkit-transform: scale3d(1, 1, 1);-->
<!--		 transform: scale3d(1, 1, 1);-->
<!--	}-->
<!--}-->
<!-- @keyframes rubberBand {-->
<!--	 0% {-->
<!--		 -webkit-transform: scale3d(1, 1, 1);-->
<!--		 transform: scale3d(1, 1, 1);-->
<!--	}-->
<!--	 30% {-->
<!--		 -webkit-transform: scale3d(1.25, 0.75, 1);-->
<!--		 transform: scale3d(1.25, 0.75, 1);-->
<!--	}-->
<!--	 40% {-->
<!--		 -webkit-transform: scale3d(0.75, 1.25, 1);-->
<!--		 transform: scale3d(0.75, 1.25, 1);-->
<!--	}-->
<!--	 50% {-->
<!--		 -webkit-transform: scale3d(1.15, 0.85, 1);-->
<!--		 transform: scale3d(1.15, 0.85, 1);-->
<!--	}-->
<!--	 65% {-->
<!--		 -webkit-transform: scale3d(0.95, 1.05, 1);-->
<!--		 transform: scale3d(0.95, 1.05, 1);-->
<!--	}-->
<!--	 75% {-->
<!--		 -webkit-transform: scale3d(1.05, 0.95, 1);-->
<!--		 transform: scale3d(1.05, 0.95, 1);-->
<!--	}-->
<!--	 100% {-->
<!--		 -webkit-transform: scale3d(1, 1, 1);-->
<!--		 transform: scale3d(1, 1, 1);-->
<!--	}-->
<!--}-->
<!-- .rubberBand {-->
<!--	 -webkit-animation-name: rubberBand;-->
<!--	 animation-name: rubberBand;-->
<!--}-->

<!--</style>-->

<!--<div class="plane">-->
<!--  <div class="cockpit">-->
<!--    <h1>Please select a seat</h1>-->
<!--  </div>-->
<!--  <div class="exit exit&#45;&#45;front fuselage">-->

<!--  </div>-->
<!--  <ol class="cabin fuselage">-->
<!--    <li class="row row&#45;&#45;1">-->
<!--      <ol class="seats" type="A">-->
<style>
    [type="checkbox"] {
        display:None;
    }
    [type="checkbox"] +label {
        display:inline-block;
        background-color:#FFFF00;
        border-radius:6px;
        outline-color;green;
        width:130%;
        height:40px;
        text-align: center;
<!--        line-height:50px;-->
        vertical-align:middle;

    }
    [type="checkbox"]:checked + label {
        background-color: #FF0000;
        color:white;
        font-weight:bolder;
    }
     [type="checkbox"]:hover {
     background-color: yellow;
        }
</style>
<div class="container">
    <div class="col-md-12">
        <form action="bookTickets1" method="post">
            <input type="hidden" name="schedule_id" value="{{schedule_id}}">
            <input type="hidden" name="ticket_id" value="{{ticket_id}}">
           <div class="row">
               <div class="col-md-2"></div>
                 <div class="col-md-8 mt-5">

                     <div class="card p-4 " style="border-color:red;border-radius:70px;border-width: 5px;">
                           <div class="text-center h5">All Eyes In This Way</div>
                         <hr>
                  <div class="row">
                   {% for i in range(1,int(ticket['no_of_seats'])+1): %}
                         {% set isBooked = isSeatBooked(i,str(ticket['_id'])) %}
                      {% if ticket['is_coupleSeat'] == 'No' %}
                      <div class="col-md-1" >
                          {% if isBooked %}
                              <input  type="checkbox">
                              <label class="card   p-2 m-2  text-white" style="background-color:red">{{i}}</label>
                          {% else%}
                              <input  type="checkbox"   id="{{ticket['_id']}}seat{{i}}" name="{{ticket['_id']}}seat{{i}}">
                              <label class="card   p-2 m-2 text-center" for="{{ticket['_id']}}seat{{i}}" id="{{ticket['_id']}}label{{i}}">
                                    {{i}}
                              </label>
                          {% endif%}
                      </div>
                      {% endif%}
                      {% if ticket['is_coupleSeat'] == 'Yes' %}
                      <div class="col-md-2 p-3" >
                          {% if isBooked %}
                              <input  type="checkbox">
                              <label class="card   p-2   text-white" style="background-color:red">
                                  <div class="row">
                                        <div class="col-md-6">{{i}}A</div>
                                        <div class="col-md-6">{{i}}B</div>
                                    </div>
                              </label>
                          {% else%}
                              <input  type="checkbox"   id="{{ticket['_id']}}seat{{i}}" name="{{ticket['_id']}}seat{{i}}">
                              <label class="card   p-2 text-center" for="{{ticket['_id']}}seat{{i}}" id="{{ticket['_id']}}label{{i}}">
                                    <div class="row">
                                        <div class="col-md-6">{{i}}A</div>
                                        <div class="col-md-6">{{i}}B</div>
                                    </div>
                              </label>
                          {% endif%}
                      </div>
                      {% endif%}
                      {% endfor%}
                      <div class="row">
                          <div class="col-md-4">
                               <h5 class="mt-2">Price Per Seat $ <b>{{ticket['price_per_seat']}}</b></h5>
                          </div>
                            <div class="col-md-5">
                                 <h5 class="mt-2">Seats :<b>{{ticket['no_of_seats']}}</b></h5>
                            </div>
                          <div class="col-md-3">
                                 <input type="submit" value="Book Tickets" class="btn text-white" style="background-color:#FF0000">
                            </div>
                      </div>

                  </div>
                     </div>
           </div>
        </form>
    </div>
</div>
