{% include 'shead.html'%}
<br><br>
<script>
    function validate(){
        let cardNumber = document.getElementById("cardNumber").value
        if(cardNumber.length !=16){
            alert("Card Number should be 16")
            return false;
        }
        let cause = document.getElementById("cause").value
        if(cause==""){
            alert("Enter Cause")
            return false;
        }
          let nameOnCard = document.getElementById("nameOnCard").value
        if(nameOnCard==""){
            alert("Enter NameOnCard")
            return false;
        }
         let cvv = document.getElementById("cvv").value
        if(cvv==""){
            alert("Enter cvv")
            return false;
        }
          let expireDate = document.getElementById("expireDate").value
        if(expireDate==""){
            alert("Enter ExpireDate")
            return false;
        }


        return true
    }
</script>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 mt-5">
            <div class="card p-2 " style="background-color:#DCDCDC">
                <form action="pay_amount1" method="post" onsubmit="return validate()">
                    <input type="hidden" name="booking_id" value="{{booking_id}}">
                     <input type="hidden" name="totalPrice" value="{{totalPrice}}">
                    <div class="h5">Payment Details</div>
                    <div class="row"><div class="col-md-3">Payable  </div><div class="col-md-9 h6">$ {{totalPrice}}</div></div>
                        <input type="hidden" name="">
                        <div class="mt-2">
                            <label for="cardNumber">Card Number</label>
                            <input type="number" name="cardNumber" id="cardNumber" placeholder="Enter Card Number" class="form-control">
                        </div>
                        <div class="mt-2">
                            <label for="nameOnCard">Name on Card</label>
                            <input type="text" name="nameOnCard" id="nameOnCard" placeholder="Enter Name On Card" class="form-control">
                        </div>
                        <div class="mt-2">
                            <label for="nameOnCard">CVV</label>
                            <input type="text" name="cvv" id="cvv" placeholder="Enter CVV" class="form-control">
                        </div>
                        <div class="mt-2">
                            <label for="expireDate">Expire Date</label>
                            <input type="text" name="expireDate" id="expireDate" placeholder="MM/YY" class="form-control">
                        </div>
                    <input type="submit" value="Pay" class="btn btn-primary w-100 mt-1">
                </form>
            </div>
        </div>
    </div>
</div>