{% include 'shead.html'%}
<br><br>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 mt-4">
        <div class="card p-4 mt-5">
            <form action="transferTickets1" method="post">
                <input type="hidden" name="booking_id" value="{{booking_id}}">
                <div class="h4 text-center"></div>
                <div class="form-group">
                    <label for="email">Enter Other Audian Email</label>
                    <input type="email" class="form-control mt-1" id="email" placeholder="Enter email" name="email" required>
                </div>
                <input type="submit" value="Transfer" class="btn btn-primary center w-100 mt-3">
            </form>
        </div>
    </div>
</div>
